#############################################
# GLOBAL
#############################################

# Pycharm files
**/.idea
*.pyc

# Merge artifacts
*.bak

#############################################
# SIM
#############################################

# VUnit
/sim/transcript
/sim/vunit_out/*
/sim/__pycache__/*
/sim/coverage/coverage_data.ucdb

#############################################
# TB
#############################################

# VUnit
/tb/*/transcript
/tb/*/vunit_out/*
/tb/*/__pycache__/*
/tb/*/coverage/coverage_data.ucdb

#############################################
# COSIM
#############################################

# Bit-true data
/bittrue/cosim/**/data/*
