#############################################
# Sim
#############################################

# VUnit
/sim/transcript
/sim/vunit_out/*
/sim/__pycache__/*

#############################################
# Cosim
#############################################

# Bit-true data
/bittrue/cosim/**/data/*
